.apbd-mini-cart-color :root {
  --admin-theme-default: #2563eb;
  --admin-theme-purple: #7b1fa2;
  --admin-theme-orange: #d47500;
  --admin-theme-blue: #8C59F6;
  --admin-theme-black: #323232;
  --admin-theme-green: #4caf50;
  --admin-theme-red: #b63431;
  --admin-theme-cyan: #00acc1;
  --admin-theme-gray: #757575;
  --admin-theme-pink: #d2597d;
}
.apbd-mini-cart-color.apbd-mc-color-default {
  --apbd-nmca-main-color:#2563eb;
  --apbd-nmca-main-color-light:#e0e9fc;
  --apbd-nmca-black:#111111 ;
  --apbd-nmca-border-color:#eee;
  --apbd-nmca-title-text-color:#444;
  --apbd-nmca-base-text-color:#444;
  --apbd-nmca-total-item-background-color:#c9d8fa;
  --apbd-nmca-undo-msg-box-bg:rgba(201, 216, 250, 0.3);
  --apbd-nmca-total-item-text-color:#3c74ed;
  --apbd-nmca-progressbar-background:rgba(37, 99, 235, 0.33);
  --apbd-nmca-btn-hover-color:#040f27;
  --apbd-nmca-undo-btn-color:#082056;
  --apbd-nmca-undo-cancel-btn-color:#c9d8fa;
  --apbd-nmca-btn-background-color:#b1c7f8;
  --apbd-nmca-response-msg-ctr-bg:rgba(37, 99, 235, 0.16);
  --apbd-nmca-response-msg-ctr-color:rgba(37, 99, 235, 0.99);
  --apbd-nmca-font-size:15px;
  --apbd-nmca-sm-fs:12px;
  --apbd-nmca-padding:20px;
  --apbd-nmca-vt-cart-panel-width:450px;
  --apbd-nmca-vt-cart-header-h:80px;
  --apbd-nmca-vt-cart-panel-bg: #f5f6fa;
  --apbd-nmca-vt-cart-header-left-color: #4b5563;
  --apbd-nmca-vt-cart-header-right-color: #8894a5;
  --apbd-nmca-vt-global-border: #ede7f6;
  --apbd-nmca-vt-menu-font-color: #fff;
  --apbd-nmca-vt-cart-footer-border-radius: 15px;
  --apbd-nmca-vt-theme-btn-font-color: #fff;
  --apbd-nmca-error-smg-color: rgba(255, 65, 62, 0.97);
  --apbd-nmca-vt-cart-item-font-color: #4b5563;
  --apbd-nmca-vt-card-panel-item-hvr-color: rgba(255,0,0,0.33);
  --apbd-nmca-vt-card-bs: 0px 5px 4px 1px var(--bs-gray-300);
  --apbd-nmca-vt-img-bs: 0px -1px 20px 3px rgb(0 0 0 / 44%);
  --apbd-nmca-vt-card-text-color: rgba(78, 78, 78, 0.85);
  --apbd-nmca-vt-btn-disable-color:#c9d8fa;
  --apbd-nmca-vt-msg-ctr-border-color:#c9d8fa;
  --apbd-nmca-vt-undo-msg-box-shadow-color:#b1c7f8;
  --apbd-nmca-vt-undo-msg-box-border-color:#9ab7f6;
  --apbd-nmca-opener-width:80px;
  --apbd-nmca-opener-icon-h:62px;
  --apbd-nmca-opener-br:5px;
  --apbd-nmca-opener-icon-fs:35px;
  --apbd-nmca-fl-width:65px;
  --apbd-nmca-fl-icon-size:25px;
  --apbd-nmca-fl-height:65px;
  --apbd-nmca-fl-br:50%;
  --apbd-nmca-fl-bm: 50px;
  --apbd-nmca-fl-lm: 50px;
  --apbd-nmca-vt-btn-color:#0c3284;
  --apbd-nmca-white-color:#ffffff;
  --apbd-nmca-vt-main-color:#2563eb;
  --vitepos-main-dark:#06173e;
  --apbd-nmca-df-btn-color:#134cca;
  --apbd-nmca-df-btn-hover-color:#0e3b9c;
  --apbd-nmca-vt-msg-color: inherit;
  --apbd-nmca-vt-msg-bg-color: transparent;
  --apbd-nmca-vt-msg-bg-fw: normal;
  --apbd-nmca-vt-cart-item-border-color: rgba(37, 99, 235, 0.17);
  --apbd-nmca-vt-cart-item-hover-border-color: rgba(37, 99, 235, 0.75);
  --apbd-nmca-vt-card-shadow-color:#c9d8fa;
  --apbd-nmca-vt-footer-bs: 0 -3px 30px -18px var(--vitepos-main-dark);
  --apbd-nmca-error-msg-ctr-bg:rgba(182, 52, 49, 0.16);
  --apbd-nmca-error-msg-txt-color:rgba(182, 52, 49, 0.99);
  --apbd-nmca-error-msg-close-btn-bg:#e49d9c;
  --apbd-nmca-error-msg-close-btn-hover-border:rgba(182, 52, 49, 0.75);
  --apbd-nmca-error-msg-close-btn-txt-color:#b63431;
}
.apbd-mini-cart-color.apbd-mc-color-black {
  --apbd-nmca-main-color:#323232;
  --apbd-nmca-main-color-light:#989898;
  --apbd-nmca-black:#111111 ;
  --apbd-nmca-border-color:#eee;
  --apbd-nmca-title-text-color:#444;
  --apbd-nmca-base-text-color:#444;
  --apbd-nmca-total-item-background-color:#8b8b8b;
  --apbd-nmca-undo-msg-box-bg:rgba(139, 139, 139, 0.3);
  --apbd-nmca-total-item-text-color:#3f3f3f;
  --apbd-nmca-progressbar-background:rgba(50, 50, 50, 0.33);
  --apbd-nmca-btn-hover-color:black;
  --apbd-nmca-undo-btn-color:black;
  --apbd-nmca-undo-cancel-btn-color:#8b8b8b;
  --apbd-nmca-btn-background-color:#7f7f7f;
  --apbd-nmca-response-msg-ctr-bg:rgba(50, 50, 50, 0.16);
  --apbd-nmca-response-msg-ctr-color:rgba(50, 50, 50, 0.99);
  --apbd-nmca-font-size:15px;
  --apbd-nmca-sm-fs:12px;
  --apbd-nmca-padding:20px;
  --apbd-nmca-vt-cart-panel-width:450px;
  --apbd-nmca-vt-cart-header-h:80px;
  --apbd-nmca-vt-cart-panel-bg: #f5f6fa;
  --apbd-nmca-vt-cart-header-left-color: #4b5563;
  --apbd-nmca-vt-cart-header-right-color: #8894a5;
  --apbd-nmca-vt-global-border: #ede7f6;
  --apbd-nmca-vt-menu-font-color: #fff;
  --apbd-nmca-vt-cart-footer-border-radius: 15px;
  --apbd-nmca-vt-theme-btn-font-color: #fff;
  --apbd-nmca-error-smg-color: rgba(255, 65, 62, 0.97);
  --apbd-nmca-vt-cart-item-font-color: #4b5563;
  --apbd-nmca-vt-card-panel-item-hvr-color: rgba(255,0,0,0.33);
  --apbd-nmca-vt-card-bs: 0px 5px 4px 1px var(--bs-gray-300);
  --apbd-nmca-vt-img-bs: 0px -1px 20px 3px rgb(0 0 0 / 44%);
  --apbd-nmca-vt-card-text-color: rgba(78, 78, 78, 0.85);
  --apbd-nmca-vt-btn-disable-color:#8b8b8b;
  --apbd-nmca-vt-msg-ctr-border-color:#8b8b8b;
  --apbd-nmca-vt-undo-msg-box-shadow-color:#7f7f7f;
  --apbd-nmca-vt-undo-msg-box-border-color:#727272;
  --apbd-nmca-opener-width:80px;
  --apbd-nmca-opener-icon-h:62px;
  --apbd-nmca-opener-br:5px;
  --apbd-nmca-opener-icon-fs:35px;
  --apbd-nmca-fl-width:65px;
  --apbd-nmca-fl-icon-size:25px;
  --apbd-nmca-fl-height:65px;
  --apbd-nmca-fl-br:50%;
  --apbd-nmca-fl-bm: 50px;
  --apbd-nmca-fl-lm: 50px;
  --apbd-nmca-vt-btn-color:black;
  --apbd-nmca-white-color:#ffffff;
  --apbd-nmca-vt-main-color:#323232;
  --vitepos-main-dark:black;
  --apbd-nmca-df-btn-color:#4c4c4c;
  --apbd-nmca-df-btn-hover-color:black;
  --apbd-nmca-vt-msg-color: inherit;
  --apbd-nmca-vt-msg-bg-color: transparent;
  --apbd-nmca-vt-msg-bg-fw: normal;
  --apbd-nmca-vt-cart-item-border-color: rgba(50, 50, 50, 0.17);
  --apbd-nmca-vt-cart-item-hover-border-color: rgba(50, 50, 50, 0.75);
  --apbd-nmca-vt-card-shadow-color:#8b8b8b;
  --apbd-nmca-vt-footer-bs: 0 -3px 30px -18px var(--vitepos-main-dark);
  --apbd-nmca-error-msg-ctr-bg:rgba(182, 52, 49, 0.16);
  --apbd-nmca-error-msg-txt-color:rgba(182, 52, 49, 0.99);
  --apbd-nmca-error-msg-close-btn-bg:#e49d9c;
  --apbd-nmca-error-msg-close-btn-hover-border:rgba(182, 52, 49, 0.75);
  --apbd-nmca-error-msg-close-btn-txt-color:#b63431;
}
.apbd-mini-cart-color.apbd-mc-color-cyan {
  --apbd-nmca-main-color:#00acc1;
  --apbd-nmca-main-color-light:#8ef3ff;
  --apbd-nmca-black:#111111 ;
  --apbd-nmca-border-color:#eee;
  --apbd-nmca-title-text-color:#444;
  --apbd-nmca-base-text-color:#444;
  --apbd-nmca-total-item-background-color:#75f0ff;
  --apbd-nmca-undo-msg-box-bg:rgba(117, 240, 255, 0.3);
  --apbd-nmca-total-item-text-color:#00c3db;
  --apbd-nmca-progressbar-background:rgba(0, 172, 193, 0.33);
  --apbd-nmca-btn-hover-color:black;
  --apbd-nmca-undo-btn-color:#000d0f;
  --apbd-nmca-undo-cancel-btn-color:#75f0ff;
  --apbd-nmca-btn-background-color:#5bedff;
  --apbd-nmca-response-msg-ctr-bg:rgba(0, 172, 193, 0.16);
  --apbd-nmca-response-msg-ctr-color:rgba(0, 172, 193, 0.99);
  --apbd-nmca-font-size:15px;
  --apbd-nmca-sm-fs:12px;
  --apbd-nmca-padding:20px;
  --apbd-nmca-vt-cart-panel-width:450px;
  --apbd-nmca-vt-cart-header-h:80px;
  --apbd-nmca-vt-cart-panel-bg: #f5f6fa;
  --apbd-nmca-vt-cart-header-left-color: #4b5563;
  --apbd-nmca-vt-cart-header-right-color: #8894a5;
  --apbd-nmca-vt-global-border: #ede7f6;
  --apbd-nmca-vt-menu-font-color: #fff;
  --apbd-nmca-vt-cart-footer-border-radius: 15px;
  --apbd-nmca-vt-theme-btn-font-color: #fff;
  --apbd-nmca-error-smg-color: rgba(255, 65, 62, 0.97);
  --apbd-nmca-vt-cart-item-font-color: #4b5563;
  --apbd-nmca-vt-card-panel-item-hvr-color: rgba(255,0,0,0.33);
  --apbd-nmca-vt-card-bs: 0px 5px 4px 1px var(--bs-gray-300);
  --apbd-nmca-vt-img-bs: 0px -1px 20px 3px rgb(0 0 0 / 44%);
  --apbd-nmca-vt-card-text-color: rgba(78, 78, 78, 0.85);
  --apbd-nmca-vt-btn-disable-color:#75f0ff;
  --apbd-nmca-vt-msg-ctr-border-color:#75f0ff;
  --apbd-nmca-vt-undo-msg-box-shadow-color:#5bedff;
  --apbd-nmca-vt-undo-msg-box-border-color:#42eaff;
  --apbd-nmca-opener-width:80px;
  --apbd-nmca-opener-icon-h:62px;
  --apbd-nmca-opener-br:5px;
  --apbd-nmca-opener-icon-fs:35px;
  --apbd-nmca-fl-width:65px;
  --apbd-nmca-fl-icon-size:25px;
  --apbd-nmca-fl-height:65px;
  --apbd-nmca-fl-br:50%;
  --apbd-nmca-fl-bm: 50px;
  --apbd-nmca-fl-lm: 50px;
  --apbd-nmca-vt-btn-color:#003a42;
  --apbd-nmca-white-color:#ffffff;
  --apbd-nmca-vt-main-color:#00acc1;
  --vitepos-main-dark:black;
  --apbd-nmca-df-btn-color:#007f8e;
  --apbd-nmca-df-btn-hover-color:#00515b;
  --apbd-nmca-vt-msg-color: inherit;
  --apbd-nmca-vt-msg-bg-color: transparent;
  --apbd-nmca-vt-msg-bg-fw: normal;
  --apbd-nmca-vt-cart-item-border-color: rgba(0, 172, 193, 0.17);
  --apbd-nmca-vt-cart-item-hover-border-color: rgba(0, 172, 193, 0.75);
  --apbd-nmca-vt-card-shadow-color:#75f0ff;
  --apbd-nmca-vt-footer-bs: 0 -3px 30px -18px var(--vitepos-main-dark);
  --apbd-nmca-error-msg-ctr-bg:rgba(182, 52, 49, 0.16);
  --apbd-nmca-error-msg-txt-color:rgba(182, 52, 49, 0.99);
  --apbd-nmca-error-msg-close-btn-bg:#e49d9c;
  --apbd-nmca-error-msg-close-btn-hover-border:rgba(182, 52, 49, 0.75);
  --apbd-nmca-error-msg-close-btn-txt-color:#b63431;
}
.apbd-mini-cart-color.apbd-mc-color-gray {
  --apbd-nmca-main-color:#757575;
  --apbd-nmca-main-color-light:#dbdbdb;
  --apbd-nmca-black:#111111 ;
  --apbd-nmca-border-color:#eee;
  --apbd-nmca-title-text-color:#444;
  --apbd-nmca-base-text-color:#444;
  --apbd-nmca-total-item-background-color:#cecece;
  --apbd-nmca-undo-msg-box-bg:rgba(206, 206, 206, 0.3);
  --apbd-nmca-total-item-text-color:#828282;
  --apbd-nmca-progressbar-background:rgba(117, 117, 117, 0.33);
  --apbd-nmca-btn-hover-color:#020202;
  --apbd-nmca-undo-btn-color:#1c1c1c;
  --apbd-nmca-undo-cancel-btn-color:#cecece;
  --apbd-nmca-btn-background-color:#c2c2c2;
  --apbd-nmca-response-msg-ctr-bg:rgba(117, 117, 117, 0.16);
  --apbd-nmca-response-msg-ctr-color:rgba(117, 117, 117, 0.99);
  --apbd-nmca-font-size:15px;
  --apbd-nmca-sm-fs:12px;
  --apbd-nmca-padding:20px;
  --apbd-nmca-vt-cart-panel-width:450px;
  --apbd-nmca-vt-cart-header-h:80px;
  --apbd-nmca-vt-cart-panel-bg: #f5f6fa;
  --apbd-nmca-vt-cart-header-left-color: #4b5563;
  --apbd-nmca-vt-cart-header-right-color: #8894a5;
  --apbd-nmca-vt-global-border: #ede7f6;
  --apbd-nmca-vt-menu-font-color: #fff;
  --apbd-nmca-vt-cart-footer-border-radius: 15px;
  --apbd-nmca-vt-theme-btn-font-color: #fff;
  --apbd-nmca-error-smg-color: rgba(255, 65, 62, 0.97);
  --apbd-nmca-vt-cart-item-font-color: #4b5563;
  --apbd-nmca-vt-card-panel-item-hvr-color: rgba(255,0,0,0.33);
  --apbd-nmca-vt-card-bs: 0px 5px 4px 1px var(--bs-gray-300);
  --apbd-nmca-vt-img-bs: 0px -1px 20px 3px rgb(0 0 0 / 44%);
  --apbd-nmca-vt-card-text-color: rgba(78, 78, 78, 0.85);
  --apbd-nmca-vt-btn-disable-color:#cecece;
  --apbd-nmca-vt-msg-ctr-border-color:#cecece;
  --apbd-nmca-vt-undo-msg-box-shadow-color:#c2c2c2;
  --apbd-nmca-vt-undo-msg-box-border-color:#b5b5b5;
  --apbd-nmca-opener-width:80px;
  --apbd-nmca-opener-icon-h:62px;
  --apbd-nmca-opener-br:5px;
  --apbd-nmca-opener-icon-fs:35px;
  --apbd-nmca-fl-width:65px;
  --apbd-nmca-fl-icon-size:25px;
  --apbd-nmca-fl-height:65px;
  --apbd-nmca-fl-br:50%;
  --apbd-nmca-fl-bm: 50px;
  --apbd-nmca-fl-lm: 50px;
  --apbd-nmca-vt-btn-color:#353535;
  --apbd-nmca-white-color:#ffffff;
  --apbd-nmca-vt-main-color:#757575;
  --vitepos-main-dark:#0f0f0f;
  --apbd-nmca-df-btn-color:#5c5c5c;
  --apbd-nmca-df-btn-hover-color:#424242;
  --apbd-nmca-vt-msg-color: inherit;
  --apbd-nmca-vt-msg-bg-color: transparent;
  --apbd-nmca-vt-msg-bg-fw: normal;
  --apbd-nmca-vt-cart-item-border-color: rgba(117, 117, 117, 0.17);
  --apbd-nmca-vt-cart-item-hover-border-color: rgba(117, 117, 117, 0.75);
  --apbd-nmca-vt-card-shadow-color:#cecece;
  --apbd-nmca-vt-footer-bs: 0 -3px 30px -18px var(--vitepos-main-dark);
  --apbd-nmca-error-msg-ctr-bg:rgba(182, 52, 49, 0.16);
  --apbd-nmca-error-msg-txt-color:rgba(182, 52, 49, 0.99);
  --apbd-nmca-error-msg-close-btn-bg:#e49d9c;
  --apbd-nmca-error-msg-close-btn-hover-border:rgba(182, 52, 49, 0.75);
  --apbd-nmca-error-msg-close-btn-txt-color:#b63431;
}
.apbd-mini-cart-color.apbd-mc-color-green {
  --apbd-nmca-main-color:#4caf50;
  --apbd-nmca-main-color-light:#d9eeda;
  --apbd-nmca-black:#111111 ;
  --apbd-nmca-border-color:#eee;
  --apbd-nmca-title-text-color:#444;
  --apbd-nmca-base-text-color:#444;
  --apbd-nmca-total-item-background-color:#c7e7c8;
  --apbd-nmca-undo-msg-box-bg:rgba(199, 231, 200, 0.3);
  --apbd-nmca-total-item-text-color:#5cb860;
  --apbd-nmca-progressbar-background:rgba(76, 175, 80, 0.33);
  --apbd-nmca-btn-hover-color:#070f07;
  --apbd-nmca-undo-btn-color:#163317;
  --apbd-nmca-undo-cancel-btn-color:#c7e7c8;
  --apbd-nmca-btn-background-color:#b5dfb7;
  --apbd-nmca-response-msg-ctr-bg:rgba(76, 175, 80, 0.16);
  --apbd-nmca-response-msg-ctr-color:rgba(76, 175, 80, 0.99);
  --apbd-nmca-font-size:15px;
  --apbd-nmca-sm-fs:12px;
  --apbd-nmca-padding:20px;
  --apbd-nmca-vt-cart-panel-width:450px;
  --apbd-nmca-vt-cart-header-h:80px;
  --apbd-nmca-vt-cart-panel-bg: #f5f6fa;
  --apbd-nmca-vt-cart-header-left-color: #4b5563;
  --apbd-nmca-vt-cart-header-right-color: #8894a5;
  --apbd-nmca-vt-global-border: #ede7f6;
  --apbd-nmca-vt-menu-font-color: #fff;
  --apbd-nmca-vt-cart-footer-border-radius: 15px;
  --apbd-nmca-vt-theme-btn-font-color: #fff;
  --apbd-nmca-error-smg-color: rgba(255, 65, 62, 0.97);
  --apbd-nmca-vt-cart-item-font-color: #4b5563;
  --apbd-nmca-vt-card-panel-item-hvr-color: rgba(255,0,0,0.33);
  --apbd-nmca-vt-card-bs: 0px 5px 4px 1px var(--bs-gray-300);
  --apbd-nmca-vt-img-bs: 0px -1px 20px 3px rgb(0 0 0 / 44%);
  --apbd-nmca-vt-card-text-color: rgba(78, 78, 78, 0.85);
  --apbd-nmca-vt-btn-disable-color:#c7e7c8;
  --apbd-nmca-vt-msg-ctr-border-color:#c7e7c8;
  --apbd-nmca-vt-undo-msg-box-shadow-color:#b5dfb7;
  --apbd-nmca-vt-undo-msg-box-border-color:#a3d7a5;
  --apbd-nmca-opener-width:80px;
  --apbd-nmca-opener-icon-h:62px;
  --apbd-nmca-opener-br:5px;
  --apbd-nmca-opener-icon-fs:35px;
  --apbd-nmca-fl-width:65px;
  --apbd-nmca-fl-icon-size:25px;
  --apbd-nmca-fl-height:65px;
  --apbd-nmca-fl-br:50%;
  --apbd-nmca-fl-bm: 50px;
  --apbd-nmca-fl-lm: 50px;
  --apbd-nmca-vt-btn-color:#255627;
  --apbd-nmca-white-color:#ffffff;
  --apbd-nmca-vt-main-color:#4caf50;
  --vitepos-main-dark:#0e210f;
  --apbd-nmca-df-btn-color:#3d8b40;
  --apbd-nmca-df-btn-hover-color:#2d682f;
  --apbd-nmca-vt-msg-color: inherit;
  --apbd-nmca-vt-msg-bg-color: transparent;
  --apbd-nmca-vt-msg-bg-fw: normal;
  --apbd-nmca-vt-cart-item-border-color: rgba(76, 175, 80, 0.17);
  --apbd-nmca-vt-cart-item-hover-border-color: rgba(76, 175, 80, 0.75);
  --apbd-nmca-vt-card-shadow-color:#c7e7c8;
  --apbd-nmca-vt-footer-bs: 0 -3px 30px -18px var(--vitepos-main-dark);
  --apbd-nmca-error-msg-ctr-bg:rgba(182, 52, 49, 0.16);
  --apbd-nmca-error-msg-txt-color:rgba(182, 52, 49, 0.99);
  --apbd-nmca-error-msg-close-btn-bg:#e49d9c;
  --apbd-nmca-error-msg-close-btn-hover-border:rgba(182, 52, 49, 0.75);
  --apbd-nmca-error-msg-close-btn-txt-color:#b63431;
}
.apbd-mini-cart-color.apbd-mc-color-orange {
  --apbd-nmca-main-color:#d47500;
  --apbd-nmca-main-color-light:#ffd5a1;
  --apbd-nmca-black:#111111 ;
  --apbd-nmca-border-color:#eee;
  --apbd-nmca-title-text-color:#444;
  --apbd-nmca-base-text-color:#444;
  --apbd-nmca-total-item-background-color:#ffc988;
  --apbd-nmca-undo-msg-box-bg:rgba(255, 201, 136, 0.3);
  --apbd-nmca-total-item-text-color:#ee8300;
  --apbd-nmca-progressbar-background:rgba(212, 117, 0, 0.33);
  --apbd-nmca-btn-hover-color:black;
  --apbd-nmca-undo-btn-color:#221200;
  --apbd-nmca-undo-cancel-btn-color:#ffc988;
  --apbd-nmca-btn-background-color:#ffbe6e;
  --apbd-nmca-response-msg-ctr-bg:rgba(212, 117, 0, 0.16);
  --apbd-nmca-response-msg-ctr-color:rgba(212, 117, 0, 0.99);
  --apbd-nmca-font-size:15px;
  --apbd-nmca-sm-fs:12px;
  --apbd-nmca-padding:20px;
  --apbd-nmca-vt-cart-panel-width:450px;
  --apbd-nmca-vt-cart-header-h:80px;
  --apbd-nmca-vt-cart-panel-bg: #f5f6fa;
  --apbd-nmca-vt-cart-header-left-color: #4b5563;
  --apbd-nmca-vt-cart-header-right-color: #8894a5;
  --apbd-nmca-vt-global-border: #ede7f6;
  --apbd-nmca-vt-menu-font-color: #fff;
  --apbd-nmca-vt-cart-footer-border-radius: 15px;
  --apbd-nmca-vt-theme-btn-font-color: #fff;
  --apbd-nmca-error-smg-color: rgba(255, 65, 62, 0.97);
  --apbd-nmca-vt-cart-item-font-color: #4b5563;
  --apbd-nmca-vt-card-panel-item-hvr-color: rgba(255,0,0,0.33);
  --apbd-nmca-vt-card-bs: 0px 5px 4px 1px var(--bs-gray-300);
  --apbd-nmca-vt-img-bs: 0px -1px 20px 3px rgb(0 0 0 / 44%);
  --apbd-nmca-vt-card-text-color: rgba(78, 78, 78, 0.85);
  --apbd-nmca-vt-btn-disable-color:#ffc988;
  --apbd-nmca-vt-msg-ctr-border-color:#ffc988;
  --apbd-nmca-vt-undo-msg-box-shadow-color:#ffbe6e;
  --apbd-nmca-vt-undo-msg-box-border-color:#ffb355;
  --apbd-nmca-opener-width:80px;
  --apbd-nmca-opener-icon-h:62px;
  --apbd-nmca-opener-br:5px;
  --apbd-nmca-opener-icon-fs:35px;
  --apbd-nmca-fl-width:65px;
  --apbd-nmca-fl-icon-size:25px;
  --apbd-nmca-fl-height:65px;
  --apbd-nmca-fl-br:50%;
  --apbd-nmca-fl-bm: 50px;
  --apbd-nmca-fl-lm: 50px;
  --apbd-nmca-vt-btn-color:#552f00;
  --apbd-nmca-white-color:#ffffff;
  --apbd-nmca-vt-main-color:#d47500;
  --vitepos-main-dark:#080400;
  --apbd-nmca-df-btn-color:#a15900;
  --apbd-nmca-df-btn-hover-color:#6e3d00;
  --apbd-nmca-vt-msg-color: inherit;
  --apbd-nmca-vt-msg-bg-color: transparent;
  --apbd-nmca-vt-msg-bg-fw: normal;
  --apbd-nmca-vt-cart-item-border-color: rgba(212, 117, 0, 0.17);
  --apbd-nmca-vt-cart-item-hover-border-color: rgba(212, 117, 0, 0.75);
  --apbd-nmca-vt-card-shadow-color:#ffc988;
  --apbd-nmca-vt-footer-bs: 0 -3px 30px -18px var(--vitepos-main-dark);
  --apbd-nmca-error-msg-ctr-bg:rgba(182, 52, 49, 0.16);
  --apbd-nmca-error-msg-txt-color:rgba(182, 52, 49, 0.99);
  --apbd-nmca-error-msg-close-btn-bg:#e49d9c;
  --apbd-nmca-error-msg-close-btn-hover-border:rgba(182, 52, 49, 0.75);
  --apbd-nmca-error-msg-close-btn-txt-color:#b63431;
}
.apbd-mini-cart-color.apbd-mc-color-pink {
  --apbd-nmca-main-color:#d2597d;
  --apbd-nmca-main-color-light:#fef9fb;
  --apbd-nmca-black:#111111 ;
  --apbd-nmca-border-color:#eee;
  --apbd-nmca-title-text-color:#444;
  --apbd-nmca-base-text-color:#444;
  --apbd-nmca-total-item-background-color:#f8e5eb;
  --apbd-nmca-undo-msg-box-bg:rgba(248, 229, 235, 0.3);
  --apbd-nmca-total-item-text-color:#d76d8d;
  --apbd-nmca-progressbar-background:rgba(210, 89, 125, 0.33);
  --apbd-nmca-btn-hover-color:#370f1b;
  --apbd-nmca-undo-btn-color:#5f1a2e;
  --apbd-nmca-undo-cancel-btn-color:#f8e5eb;
  --apbd-nmca-btn-background-color:#f3d1db;
  --apbd-nmca-response-msg-ctr-bg:rgba(210, 89, 125, 0.16);
  --apbd-nmca-response-msg-ctr-color:rgba(210, 89, 125, 0.99);
  --apbd-nmca-font-size:15px;
  --apbd-nmca-sm-fs:12px;
  --apbd-nmca-padding:20px;
  --apbd-nmca-vt-cart-panel-width:450px;
  --apbd-nmca-vt-cart-header-h:80px;
  --apbd-nmca-vt-cart-panel-bg: #f5f6fa;
  --apbd-nmca-vt-cart-header-left-color: #4b5563;
  --apbd-nmca-vt-cart-header-right-color: #8894a5;
  --apbd-nmca-vt-global-border: #ede7f6;
  --apbd-nmca-vt-menu-font-color: #fff;
  --apbd-nmca-vt-cart-footer-border-radius: 15px;
  --apbd-nmca-vt-theme-btn-font-color: #fff;
  --apbd-nmca-error-smg-color: rgba(255, 65, 62, 0.97);
  --apbd-nmca-vt-cart-item-font-color: #4b5563;
  --apbd-nmca-vt-card-panel-item-hvr-color: rgba(255,0,0,0.33);
  --apbd-nmca-vt-card-bs: 0px 5px 4px 1px var(--bs-gray-300);
  --apbd-nmca-vt-img-bs: 0px -1px 20px 3px rgb(0 0 0 / 44%);
  --apbd-nmca-vt-card-text-color: rgba(78, 78, 78, 0.85);
  --apbd-nmca-vt-btn-disable-color:#f8e5eb;
  --apbd-nmca-vt-msg-ctr-border-color:#f8e5eb;
  --apbd-nmca-vt-undo-msg-box-shadow-color:#f3d1db;
  --apbd-nmca-vt-undo-msg-box-border-color:#edbdcc;
  --apbd-nmca-opener-width:80px;
  --apbd-nmca-opener-icon-h:62px;
  --apbd-nmca-opener-br:5px;
  --apbd-nmca-opener-icon-fs:35px;
  --apbd-nmca-fl-width:65px;
  --apbd-nmca-fl-icon-size:25px;
  --apbd-nmca-fl-height:65px;
  --apbd-nmca-fl-br:50%;
  --apbd-nmca-fl-bm: 50px;
  --apbd-nmca-fl-lm: 50px;
  --apbd-nmca-vt-btn-color:#872542;
  --apbd-nmca-white-color:#ffffff;
  --apbd-nmca-vt-main-color:#d2597d;
  --vitepos-main-dark:#4b1424;
  --apbd-nmca-df-btn-color:#c3355f;
  --apbd-nmca-df-btn-hover-color:#9b2a4c;
  --apbd-nmca-vt-msg-color: inherit;
  --apbd-nmca-vt-msg-bg-color: transparent;
  --apbd-nmca-vt-msg-bg-fw: normal;
  --apbd-nmca-vt-cart-item-border-color: rgba(210, 89, 125, 0.17);
  --apbd-nmca-vt-cart-item-hover-border-color: rgba(210, 89, 125, 0.75);
  --apbd-nmca-vt-card-shadow-color:#f8e5eb;
  --apbd-nmca-vt-footer-bs: 0 -3px 30px -18px var(--vitepos-main-dark);
  --apbd-nmca-error-msg-ctr-bg:rgba(182, 52, 49, 0.16);
  --apbd-nmca-error-msg-txt-color:rgba(182, 52, 49, 0.99);
  --apbd-nmca-error-msg-close-btn-bg:#e49d9c;
  --apbd-nmca-error-msg-close-btn-hover-border:rgba(182, 52, 49, 0.75);
  --apbd-nmca-error-msg-close-btn-txt-color:#b63431;
}
.apbd-mini-cart-color.apbd-mc-color-purple {
  --apbd-nmca-main-color:#7b1fa2;
  --apbd-nmca-main-color-light:#d6a0ed;
  --apbd-nmca-black:#111111 ;
  --apbd-nmca-border-color:#eee;
  --apbd-nmca-title-text-color:#444;
  --apbd-nmca-base-text-color:#444;
  --apbd-nmca-total-item-background-color:#cd8be9;
  --apbd-nmca-undo-msg-box-bg:rgba(205, 139, 233, 0.3);
  --apbd-nmca-total-item-text-color:#8b23b7;
  --apbd-nmca-progressbar-background:rgba(123, 31, 162, 0.33);
  --apbd-nmca-btn-hover-color:black;
  --apbd-nmca-undo-btn-color:#09020c;
  --apbd-nmca-undo-cancel-btn-color:#cd8be9;
  --apbd-nmca-btn-background-color:#c475e5;
  --apbd-nmca-response-msg-ctr-bg:rgba(123, 31, 162, 0.16);
  --apbd-nmca-response-msg-ctr-color:rgba(123, 31, 162, 0.99);
  --apbd-nmca-font-size:15px;
  --apbd-nmca-sm-fs:12px;
  --apbd-nmca-padding:20px;
  --apbd-nmca-vt-cart-panel-width:450px;
  --apbd-nmca-vt-cart-header-h:80px;
  --apbd-nmca-vt-cart-panel-bg: #f5f6fa;
  --apbd-nmca-vt-cart-header-left-color: #4b5563;
  --apbd-nmca-vt-cart-header-right-color: #8894a5;
  --apbd-nmca-vt-global-border: #ede7f6;
  --apbd-nmca-vt-menu-font-color: #fff;
  --apbd-nmca-vt-cart-footer-border-radius: 15px;
  --apbd-nmca-vt-theme-btn-font-color: #fff;
  --apbd-nmca-error-smg-color: rgba(255, 65, 62, 0.97);
  --apbd-nmca-vt-cart-item-font-color: #4b5563;
  --apbd-nmca-vt-card-panel-item-hvr-color: rgba(255,0,0,0.33);
  --apbd-nmca-vt-card-bs: 0px 5px 4px 1px var(--bs-gray-300);
  --apbd-nmca-vt-img-bs: 0px -1px 20px 3px rgb(0 0 0 / 44%);
  --apbd-nmca-vt-card-text-color: rgba(78, 78, 78, 0.85);
  --apbd-nmca-vt-btn-disable-color:#cd8be9;
  --apbd-nmca-vt-msg-ctr-border-color:#cd8be9;
  --apbd-nmca-vt-undo-msg-box-shadow-color:#c475e5;
  --apbd-nmca-vt-undo-msg-box-border-color:#ba60e1;
  --apbd-nmca-opener-width:80px;
  --apbd-nmca-opener-icon-h:62px;
  --apbd-nmca-opener-br:5px;
  --apbd-nmca-opener-icon-fs:35px;
  --apbd-nmca-fl-width:65px;
  --apbd-nmca-fl-icon-size:25px;
  --apbd-nmca-fl-height:65px;
  --apbd-nmca-fl-br:50%;
  --apbd-nmca-fl-bm: 50px;
  --apbd-nmca-fl-lm: 50px;
  --apbd-nmca-vt-btn-color:#2a0b37;
  --apbd-nmca-white-color:#ffffff;
  --apbd-nmca-vt-main-color:#7b1fa2;
  --vitepos-main-dark:black;
  --apbd-nmca-df-btn-color:#5a1777;
  --apbd-nmca-df-btn-hover-color:#3a0f4c;
  --apbd-nmca-vt-msg-color: inherit;
  --apbd-nmca-vt-msg-bg-color: transparent;
  --apbd-nmca-vt-msg-bg-fw: normal;
  --apbd-nmca-vt-cart-item-border-color: rgba(123, 31, 162, 0.17);
  --apbd-nmca-vt-cart-item-hover-border-color: rgba(123, 31, 162, 0.75);
  --apbd-nmca-vt-card-shadow-color:#cd8be9;
  --apbd-nmca-vt-footer-bs: 0 -3px 30px -18px var(--vitepos-main-dark);
  --apbd-nmca-error-msg-ctr-bg:rgba(182, 52, 49, 0.16);
  --apbd-nmca-error-msg-txt-color:rgba(182, 52, 49, 0.99);
  --apbd-nmca-error-msg-close-btn-bg:#e49d9c;
  --apbd-nmca-error-msg-close-btn-hover-border:rgba(182, 52, 49, 0.75);
  --apbd-nmca-error-msg-close-btn-txt-color:#b63431;
}
.apbd-mini-cart-color.apbd-mc-color-red {
  --apbd-nmca-main-color:#b63431;
  --apbd-nmca-main-color-light:#efc5c4;
  --apbd-nmca-black:#111111 ;
  --apbd-nmca-border-color:#eee;
  --apbd-nmca-title-text-color:#444;
  --apbd-nmca-base-text-color:#444;
  --apbd-nmca-total-item-background-color:#eab1b0;
  --apbd-nmca-undo-msg-box-bg:rgba(234, 177, 176, 0.3);
  --apbd-nmca-total-item-text-color:#c93b37;
  --apbd-nmca-progressbar-background:rgba(182, 52, 49, 0.33);
  --apbd-nmca-btn-hover-color:#010000;
  --apbd-nmca-undo-btn-color:#290c0b;
  --apbd-nmca-undo-cancel-btn-color:#eab1b0;
  --apbd-nmca-btn-background-color:#e49d9c;
  --apbd-nmca-response-msg-ctr-bg:rgba(182, 52, 49, 0.16);
  --apbd-nmca-response-msg-ctr-color:rgba(182, 52, 49, 0.99);
  --apbd-nmca-font-size:15px;
  --apbd-nmca-sm-fs:12px;
  --apbd-nmca-padding:20px;
  --apbd-nmca-vt-cart-panel-width:450px;
  --apbd-nmca-vt-cart-header-h:80px;
  --apbd-nmca-vt-cart-panel-bg: #f5f6fa;
  --apbd-nmca-vt-cart-header-left-color: #4b5563;
  --apbd-nmca-vt-cart-header-right-color: #8894a5;
  --apbd-nmca-vt-global-border: #ede7f6;
  --apbd-nmca-vt-menu-font-color: #fff;
  --apbd-nmca-vt-cart-footer-border-radius: 15px;
  --apbd-nmca-vt-theme-btn-font-color: #fff;
  --apbd-nmca-error-smg-color: rgba(255, 65, 62, 0.97);
  --apbd-nmca-vt-cart-item-font-color: #4b5563;
  --apbd-nmca-vt-card-panel-item-hvr-color: rgba(255,0,0,0.33);
  --apbd-nmca-vt-card-bs: 0px 5px 4px 1px var(--bs-gray-300);
  --apbd-nmca-vt-img-bs: 0px -1px 20px 3px rgb(0 0 0 / 44%);
  --apbd-nmca-vt-card-text-color: rgba(78, 78, 78, 0.85);
  --apbd-nmca-vt-btn-disable-color:#eab1b0;
  --apbd-nmca-vt-msg-ctr-border-color:#eab1b0;
  --apbd-nmca-vt-undo-msg-box-shadow-color:#e49d9c;
  --apbd-nmca-vt-undo-msg-box-border-color:#df8a88;
  --apbd-nmca-opener-width:80px;
  --apbd-nmca-opener-icon-h:62px;
  --apbd-nmca-opener-br:5px;
  --apbd-nmca-opener-icon-fs:35px;
  --apbd-nmca-fl-width:65px;
  --apbd-nmca-fl-icon-size:25px;
  --apbd-nmca-fl-height:65px;
  --apbd-nmca-fl-br:50%;
  --apbd-nmca-fl-bm: 50px;
  --apbd-nmca-fl-lm: 50px;
  --apbd-nmca-vt-btn-color:#521716;
  --apbd-nmca-white-color:#ffffff;
  --apbd-nmca-vt-main-color:#b63431;
  --vitepos-main-dark:#150606;
  --apbd-nmca-df-btn-color:#8e2926;
  --apbd-nmca-df-btn-hover-color:#661d1b;
  --apbd-nmca-vt-msg-color: inherit;
  --apbd-nmca-vt-msg-bg-color: transparent;
  --apbd-nmca-vt-msg-bg-fw: normal;
  --apbd-nmca-vt-cart-item-border-color: rgba(182, 52, 49, 0.17);
  --apbd-nmca-vt-cart-item-hover-border-color: rgba(182, 52, 49, 0.75);
  --apbd-nmca-vt-card-shadow-color:#eab1b0;
  --apbd-nmca-vt-footer-bs: 0 -3px 30px -18px var(--vitepos-main-dark);
  --apbd-nmca-error-msg-ctr-bg:rgba(182, 52, 49, 0.16);
  --apbd-nmca-error-msg-txt-color:rgba(182, 52, 49, 0.99);
  --apbd-nmca-error-msg-close-btn-bg:#e49d9c;
  --apbd-nmca-error-msg-close-btn-hover-border:rgba(182, 52, 49, 0.75);
  --apbd-nmca-error-msg-close-btn-txt-color:#b63431;
}
.apbd-mini-cart-color.apbd-mc-color-violet {
  --apbd-nmca-main-color:#8C59F6;
  --apbd-nmca-main-color-light:white;
  --apbd-nmca-black:#111111 ;
  --apbd-nmca-border-color:#eee;
  --apbd-nmca-title-text-color:#444;
  --apbd-nmca-base-text-color:#444;
  --apbd-nmca-total-item-background-color:#ac97d67d;
  --apbd-nmca-undo-msg-box-bg:rgba(172, 151, 214, 0.3);
  --apbd-nmca-total-item-text-color:#9d71f7;
  --apbd-nmca-progressbar-background:rgba(140, 89, 246, 0.33);
  --apbd-nmca-btn-hover-color:#240564;
  --apbd-nmca-undo-btn-color:#360894;
  --apbd-nmca-undo-cancel-btn-color:#ac97d67d;
  --apbd-nmca-btn-background-color:#ac97d67d;
  --apbd-nmca-response-msg-ctr-bg:rgba(140, 89, 246, 0.16);
  --apbd-nmca-response-msg-ctr-color:rgba(140, 89, 246, 0.99);
  --apbd-nmca-font-size:15px;
  --apbd-nmca-sm-fs:12px;
  --apbd-nmca-padding:20px;
  --apbd-nmca-vt-cart-panel-width:450px;
  --apbd-nmca-vt-cart-header-h:80px;
  --apbd-nmca-vt-cart-panel-bg: #f5f6fa;
  --apbd-nmca-vt-cart-header-left-color: #4b5563;
  --apbd-nmca-vt-cart-header-right-color: #8894a5;
  --apbd-nmca-vt-global-border: #ede7f6;
  --apbd-nmca-vt-menu-font-color: #fff;
  --apbd-nmca-vt-cart-footer-border-radius: 15px;
  --apbd-nmca-vt-theme-btn-font-color: #fff;
  --apbd-nmca-error-smg-color: rgba(255, 65, 62, 0.97);
  --apbd-nmca-vt-cart-item-font-color: #4b5563;
  --apbd-nmca-vt-card-panel-item-hvr-color: rgba(255,0,0,0.33);
  --apbd-nmca-vt-card-bs: 0px 5px 4px 1px var(--bs-gray-300);
  --apbd-nmca-vt-img-bs: 0px -1px 20px 3px rgb(0 0 0 / 44%);
  --apbd-nmca-vt-card-text-color: rgba(78, 78, 78, 0.85);
  --apbd-nmca-vt-btn-disable-color:white;
  --apbd-nmca-vt-msg-ctr-border-color:white;
  --apbd-nmca-vt-undo-msg-box-shadow-color:#f1eafe;
  --apbd-nmca-vt-undo-msg-box-border-color:#e0d2fd;
  --apbd-nmca-opener-width:80px;
  --apbd-nmca-opener-icon-h:62px;
  --apbd-nmca-opener-br:5px;
  --apbd-nmca-opener-icon-fs:35px;
  --apbd-nmca-fl-width:65px;
  --apbd-nmca-fl-icon-size:25px;
  --apbd-nmca-fl-height:65px;
  --apbd-nmca-fl-br:50%;
  --apbd-nmca-fl-bm: 50px;
  --apbd-nmca-fl-lm: 50px;
  --apbd-nmca-vt-btn-color:#470bc5;
  --apbd-nmca-white-color:#ffffff;
  --apbd-nmca-vt-main-color:#8C59F6;
  --vitepos-main-dark:#2d077c;
  --apbd-nmca-df-btn-color:#6a29f3;
  --apbd-nmca-df-btn-hover-color:#500cdd;
  --apbd-nmca-vt-msg-color: inherit;
  --apbd-nmca-vt-msg-bg-color: transparent;
  --apbd-nmca-vt-msg-bg-fw: normal;
  --apbd-nmca-vt-cart-item-border-color: rgba(140, 89, 246, 0.17);
  --apbd-nmca-vt-cart-item-hover-border-color: rgba(140, 89, 246, 0.75);
  --apbd-nmca-vt-card-shadow-color:#ac97d67d;
  --apbd-nmca-vt-footer-bs: 0 -3px 30px -18px var(--vitepos-main-dark);
  --apbd-nmca-error-msg-ctr-bg:rgba(182, 52, 49, 0.16);
  --apbd-nmca-error-msg-txt-color:rgba(182, 52, 49, 0.99);
  --apbd-nmca-error-msg-close-btn-bg:#e49d9c;
  --apbd-nmca-error-msg-close-btn-hover-border:rgba(182, 52, 49, 0.75);
  --apbd-nmca-error-msg-close-btn-txt-color:#b63431;
}

/*# sourceMappingURL=all.css.map */
