:root {
  --admin-theme-default: #{$admin-theme-default};
  --admin-theme-purple: #{$admin-theme-purple};
  --admin-theme-orange: #{$admin-theme-orange};
  --admin-theme-blue: #{$admin-theme-violet};
  --admin-theme-black: #{$admin-theme-black};
  --admin-theme-green: #{$admin-theme-green};
  --admin-theme-red: #{$admin-theme-red};
  --admin-theme-cyan: #{$admin-theme-cyan};
  --admin-theme-gray: #{$admin-theme-gray};
  --admin-theme-pink: #{$admin-theme-pink};
}