$admin-theme-default: #2563eb;
$admin-theme-violet: #8C59F6;
$admin-theme-purple: #7b1fa2;
$admin-theme-orange: #d47500;

$admin-theme-black: #323232;
$admin-theme-green: #4caf50;

$admin-theme-pink: #d2597d;
$admin-theme-red:#b63431;
$admin-theme-cyan: #00acc1;
$admin-theme-gray:#757575;