$color_white: #ffffff;
$color_black: #111111;
$border_color: #eee;
$base-text-color: #444;
$error-msg-bg:rgba(182, 52, 49, 0.16);
$error-txt-color:rgba(182, 52, 49, 0.99);
$error-close-btn-bg:#e49d9c;
$error-close-btn-hover-border-color:rgba(182, 52, 49, 0.75);
$error-close-btn-txt-color:#b63431;