$main_color: $admin-theme-violet;
$main_color_light: lighten($main_color, 40);
$main_color_dark: darken($main_color, 40);
$btn_background_color: #ac97d67d;

$btn_hover_color: darken($main_color, 45);
$undo_confirm_button_color:darken($main_color,35);
$undo_cancel_button_color:#ac97d67d;

$total_item_background_color:#ac97d67d;
$undo_message_box_bg: #ac97d67d;

$total_item_text_color: lighten($main_color, 5);

$vt-cart-item-border-color: rgba($main_color, 17%);
$vt-cart-item-hover-border-color: rgba($main_color, 75%);
$vt-card-shadow-color: #ac97d67d;
$vt-button-color: darken($main_color, 25%);
$df-btn-color:darken($main-color,10%);
$df-btn-hover-color:darken($main-color,20%);